# Data Engineering


<a href="https://colab.research.google.com/github/gassaf2/DataEngineering/blob/main/Project/GASSAF_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importing libraries
import pandas as pd
import os
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import plotly.express as px

C:\Users\gassaf\AppData\Local\Temp\ipykernel_33884\1306366626.py:5: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc
C:\Users\gassaf\AppData\Local\Temp\ipykernel_33884\1306366626.py:6: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html

# Connect to MongoDB

In [2]:
from pymongo import MongoClient
from datetime import datetime

#connection_string="mongodb+srv://gassaf2:dbUserPassword@products.g02gx.mongodb.net/?retryWrites=true&w=majority&appName=products"
connection_string="mongodb+srv://gassaf2:dbUserPassword@cluster0.xjx2q.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
# Connect to the MongoDB Atlas cluster
client = MongoClient(connection_string)

# Access a specific database called sales_db
db = client['sales_db']

In [3]:
#read the csv data file as initial dataset
sales_data=pd.read_csv("./sample_data/sales_data.csv")
sales_data.head()

        date product id  sales amount store location
0  4/21/2023       P001           500       New York
1  4/21/2023       P002           300       New York
2  4/21/2023       P003           450       New York
3   9/1/2023       P003           824    Los Angeles
4   9/2/2023       P002           671       New York

# Perform CRUD operations in MongoDB

## Inserting the original data in the Collection sales

In [4]:
# Access the collection sales within the database called sales_db
sales = db['sales']

In [5]:
#deleting all existing records before loading the dataset from scratch to mongodb
sales.delete_many({})

#Convert DataFrame to dictionary and insert into MongoDB
data_dict = sales_data.to_dict(orient="records")

#inserting the data to the sales collection
sales.insert_many(data_dict)

print("Data inserted successfully into the sales collection in MongoDB")

Data inserted successfully into the sales collection in MongoDB

## Create: Insert additional sales records into MongoDB.

In [6]:
#inserting additional records to the mongodb 
additional_sales = [
    {"date": "9/19/2023", "product id": "P006", "sales amount": 512, "store location": "San Francisco"},
    {"date": "9/20/2023", "product id": "P007", "sales amount": 734, "store location": "Boston"},
    {"date": "9/21/2023", "product id": "P008", "sales amount": 289, "store location": "Seattle"},
    {"date": "9/22/2023", "product id": "P009", "sales amount": 645, "store location": "Denver"},
    {"date": "9/23/2023", "product id": "P010", "sales amount": 421, "store location": "Austin"},
    {"date": "9/24/2023", "product id": "P011", "sales amount": 582, "store location": "Miami"},
    {"date": "9/25/2023", "product id": "P012", "sales amount": 710, "store location": "Los Angeles"},
    {"date": "9/26/2023", "product id": "P013", "sales amount": 369, "store location": "New York"},
    {"date": "9/27/2023", "product id": "P014", "sales amount": 498, "store location": "Chicago"},
    {"date": "9/28/2023", "product id": "P015", "sales amount": 590, "store location": "Houston"}
]
sales.insert_many(additional_sales)

InsertManyResult([ObjectId('67a05be575ef8b5ae382f9cd'), ObjectId('67a05be575ef8b5ae382f9ce'), ObjectId('67a05be575ef8b5ae382f9cf'), ObjectId('67a05be575ef8b5ae382f9d0'), ObjectId('67a05be575ef8b5ae382f9d1'), ObjectId('67a05be575ef8b5ae382f9d2'), ObjectId('67a05be575ef8b5ae382f9d3'), ObjectId('67a05be575ef8b5ae382f9d4'), ObjectId('67a05be575ef8b5ae382f9d5'), ObjectId('67a05be575ef8b5ae382f9d6')], acknowledged=True)

## Read: Query MongoDB to extract sales data based on store location, date, or product.

In [7]:
# query sales is a function that queries data by store location, date, or product and I set all the None by defaults
# if only store_location is given, it will query the sales by store location,
#if store location and date are given, it will query the data by store location and for specific date
#if store location, date and product are given, it will query the sales by store location, by specific date and for a specific product_id
def query_sales(store_location=None, date=None, product_id=None):
    query = {}
    if store_location:
        query["store location"] = store_location
    if date:
        query["date"] = date
    if product_id:
        query["product id"] = product_id
    
    results = sales.find(query)
    for record in results:
        print(record)

# query the data by store_location
print("\nSales in New York:")
query_sales(store_location="New York")

Sales in New York:
{'_id': ObjectId('67a05be475ef8b5ae382f902'), 'date': '4/21/2023', 'product id': 'P001', 'sales amount': 500, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f903'), 'date': '4/21/2023', 'product id': 'P002', 'sales amount': 300, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f904'), 'date': '4/21/2023', 'product id': 'P003', 'sales amount': 450, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f906'), 'date': '9/2/2023', 'product id': 'P002', 'sales amount': 671, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f908'), 'date': '4/21/2023', 'product id': 'P005', 'sales amount': 285, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f90a'), 'date': '4/21/2023', 'product id': 'P004', 'sales amount': 971, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f90d'), 'date': '9/9/2023', 'product id': 'P005', 'sales amount': 916, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f90f'), 'date': '9/11/2023', 'product id': 'P005', 'sales amount': 670, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f914'), 'date': '9/16/2023', 'product id': 'P002', 'sales amount': 293, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f915'), 'date': '9/17/2023', 'product id': 'P001', 'sales amount': 361, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f917'), 'date': '9/19/2023', 'product id': 'P005', 'sales amount': 202, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f91c'), 'date': '9/24/2023', 'product id': 'P001', 'sales amount': 494, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f922'), 'date': '9/30/2023', 'product id': 'P004', 'sales amount': 612, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f929'), 'date': '9/7/2023', 'product id': 'P001', 'sales amount': 418, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f92e'), 'date': '9/12/2023', 'product id': 'P005', 'sales amount': 952, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f92f'), 'date': '9/13/2023', 'product id': 'P001', 'sales amount': 660, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f931'), 'date': '9/15/2023', 'product id': 'P003', 'sales amount': 237, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f934'), 'date': '9/18/2023', 'product id': 'P005', 'sales amount': 711, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f938'), 'date': '9/22/2023', 'product id': 'P002', 'sales amount': 911, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f939'), 'date': '9/23/2023', 'product id': 'P001', 'sales amount': 697, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f93f'), 'date': '9/29/2023', 'product id': 'P002', 'sales amount': 142, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f941'), 'date': '9/1/2023', 'product id': 'P003', 'sales amount': 701, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f944'), 'date': '9/4/2023', 'product id': 'P004', 'sales amount': 116, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f94b'), 'date': '9/11/2023', 'product id': 'P004', 'sales amount': 495, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f94c'), 'date': '9/12/2023', 'product id': 'P004', 'sales amount': 137, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f94f'), 'date': '9/15/2023', 'product id': 'P005', 'sales amount': 721, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f959'), 'date': '9/25/2023', 'product id': 'P001', 'sales amount': 579, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f95c'), 'date': '9/28/2023', 'product id': 'P002', 'sales amount': 168, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f95d'), 'date': '9/29/2023', 'product id': 'P003', 'sales amount': 292, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f961'), 'date': '9/3/2023', 'product id': 'P004', 'sales amount': 900, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f964'), 'date': '9/6/2023', 'product id': 'P003', 'sales amount': 582, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f969'), 'date': '9/11/2023', 'product id': 'P005', 'sales amount': 588, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f96c'), 'date': '9/14/2023', 'product id': 'P004', 'sales amount': 857, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f96d'), 'date': '9/15/2023', 'product id': 'P003', 'sales amount': 537, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f96f'), 'date': '9/17/2023', 'product id': 'P002', 'sales amount': 886, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f970'), 'date': '9/18/2023', 'product id': 'P003', 'sales amount': 801, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f975'), 'date': '9/23/2023', 'product id': 'P001', 'sales amount': 948, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f977'), 'date': '9/25/2023', 'product id': 'P004', 'sales amount': 746, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f97c'), 'date': '9/30/2023', 'product id': 'P005', 'sales amount': 936, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f97e'), 'date': '9/2/2023', 'product id': 'P001', 'sales amount': 576, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f98b'), 'date': '9/15/2023', 'product id': 'P002', 'sales amount': 810, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f98f'), 'date': '9/19/2023', 'product id': 'P003', 'sales amount': 618, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f991'), 'date': '9/21/2023', 'product id': 'P001', 'sales amount': 100, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f995'), 'date': '9/25/2023', 'product id': 'P005', 'sales amount': 141, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f997'), 'date': '9/27/2023', 'product id': 'P002', 'sales amount': 509, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f998'), 'date': '9/28/2023', 'product id': 'P001', 'sales amount': 727, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f99a'), 'date': '9/30/2023', 'product id': 'P004', 'sales amount': 388, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f9a1'), 'date': '9/7/2023', 'product id': 'P001', 'sales amount': 748, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f9a8'), 'date': '9/14/2023', 'product id': 'P001', 'sales amount': 425, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f9a9'), 'date': '9/15/2023', 'product id': 'P004', 'sales amount': 375, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f9aa'), 'date': '9/16/2023', 'product id': 'P003', 'sales amount': 195, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f9ad'), 'date': '9/19/2023', 'product id': 'P003', 'sales amount': 814, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f9b5'), 'date': '9/27/2023', 'product id': 'P003', 'sales amount': 416, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f9ba'), 'date': '9/2/2023', 'product id': 'P004', 'sales amount': 424, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f9bf'), 'date': '9/7/2023', 'product id': 'P004', 'sales amount': 685, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f9ca'), 'date': '9/18/2023', 'product id': 'P001', 'sales amount': 264, 'store location': 'New York'}
{'_id': ObjectId('67a05be575ef8b5ae382f9d4'), 'date': '9/26/2023', 'product id': 'P013', 'sales amount': 369, 'store location': 'New York'}

In [8]:
# query the data by store_location and date
print("\nSales in New York:")
query_sales(store_location="New York",date="4/21/2023")

Sales in New York:
{'_id': ObjectId('67a05be475ef8b5ae382f902'), 'date': '4/21/2023', 'product id': 'P001', 'sales amount': 500, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f903'), 'date': '4/21/2023', 'product id': 'P002', 'sales amount': 300, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f904'), 'date': '4/21/2023', 'product id': 'P003', 'sales amount': 450, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f908'), 'date': '4/21/2023', 'product id': 'P005', 'sales amount': 285, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f90a'), 'date': '4/21/2023', 'product id': 'P004', 'sales amount': 971, 'store location': 'New York'}

In [9]:
# query the data by store_location and date and product
print("\nSales in New York:")
query_sales(store_location="New York",date="4/21/2023",product_id="P001")

Sales in New York:
{'_id': ObjectId('67a05be475ef8b5ae382f902'), 'date': '4/21/2023', 'product id': 'P001', 'sales amount': 500, 'store location': 'New York'}

## Update: Modify sales amounts for specific records (e.g., increase sales for a specific product).

In [10]:
# Update sales amount for a specific product, setting a specific value to sales
def update_sales_amount(product_id, new_sales_amount):
    sales.update_many({"product id": product_id}, {"$set": {"sales amount": new_sales_amount}})
    print(f"Updated sales amount for product {product_id} to {new_sales_amount}.")

# updating the sales amount of product P002 to 800
update_sales_amount("P002", 800)

Updated sales amount for product P002 to 800.

## Delete: Remove outdated sales records from MongoDB.

In [11]:
def delete_sales_by_date(date):
    sales.delete_many({"date": {"$lt":date}})
    print(f"Deleted sales records up to the date {date}.")

# deleting the sales up to give date
delete_sales_by_date("5/21/2023")

Deleted sales records up to the date 5/21/2023.

# Calculate basic statistics
total_sales = sales_data["sales amount"].sum()

# Sales by location
sales_by_location = sales_data.groupby("store location")["sales amount"].sum()

# Sales by product
sales_by_product = sales_data.groupby("product id")["sales amount"].sum()

# Display the results
print(f"Total Sales Amount: {total_sales}")
print("\nSales by Location:")
print(sales_by_location)
print("\nSales by Product:")
print(sales_by_product)

category="product id"
filtered_sales_data = sales_data.groupby(category)["sales amount"].sum().reset_index()
filtered_sales_data
# Create bar chart
fig = px.bar(filtered_sales_data, x="product id", y="sales amount", title="Sales Amount by Product ID", 
             labels={"Sales Amount": "Sales Amount", "Product ID": "Product ID"},
             color_discrete_sequence=["skyblue"])

# Show the figure
fig.show()

# Set up the dash application

In [12]:
# Initialize the Dash app
app = dash.Dash(__name__)

# Create the layout of the application

In [13]:
# Define the layout of the app
app.layout = html.Div([
    html.H1("Sales Dashboard", style={'text-align': 'center'}),
    html.H2("Dataset:Sales Data", style={'text-align': 'center'}),
    # Dropdown for selecting the country
  #  dcc.Dropdown(
  #      id="selected-country",
  #      options=[{'label': country, 'value': country} for country in df['country'].unique()],
  #      value='India',  # Default value
  #      multi=False,
  #      style={'width': '50%'}
  #  ),
    html.Label("Select a Category:"),
    dcc.RadioItems(
        id="category-selector",
        options=[
            {"label": "Store Location", "value": "store location"},
            {"label": "Product", "value": "product id"}
        ],
        value="store location",
        inline=True
    ),
    # Graph for visualizing life expectancy over time
    dcc.Graph(id="sales-bar-chart"),

])

# Callback to update the bar chart
@app.callback(
    Output("sales-bar-chart", "figure"),
    Input("category-selector", "value")
)
def update_bar_chart(category):
    # Group data by the selected category
    
    #category="store location"
    filtered_sales_data = sales_data.groupby(category)["sales amount"].sum().reset_index()

    # Create bar chart
    fig = px.bar(filtered_sales_data, x=category, y="sales amount", title=f"Sales Amount by {category}", 
             labels={"Sales Amount": "Sales Amount", "Product ID": "Product ID"},
             color_discrete_sequence=["skyblue"])

    # Show the figure
    #fig.show()
    return fig

# Visualize data from MongoDB using Dash

**Update the callback to read from MongoDB**

In [14]:
res=sales.find({})
for doc in res:
    print(doc)

{'_id': ObjectId('67a05be475ef8b5ae382f905'), 'date': '9/1/2023', 'product id': 'P003', 'sales amount': 824, 'store location': 'Los Angeles'}
{'_id': ObjectId('67a05be475ef8b5ae382f906'), 'date': '9/2/2023', 'product id': 'P002', 'sales amount': 800, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f907'), 'date': '9/3/2023', 'product id': 'P001', 'sales amount': 821, 'store location': 'Houston'}
{'_id': ObjectId('67a05be475ef8b5ae382f909'), 'date': '9/5/2023', 'product id': 'P005', 'sales amount': 863, 'store location': 'Los Angeles'}
{'_id': ObjectId('67a05be475ef8b5ae382f90b'), 'date': '9/7/2023', 'product id': 'P003', 'sales amount': 997, 'store location': 'Miami'}
{'_id': ObjectId('67a05be475ef8b5ae382f90c'), 'date': '9/8/2023', 'product id': 'P003', 'sales amount': 976, 'store location': 'Chicago'}
{'_id': ObjectId('67a05be475ef8b5ae382f90d'), 'date': '9/9/2023', 'product id': 'P005', 'sales amount': 916, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f90e'), 'date': '9/10/2023', 'product id': 'P005', 'sales amount': 368, 'store location': 'Chicago'}
{'_id': ObjectId('67a05be475ef8b5ae382f90f'), 'date': '9/11/2023', 'product id': 'P005', 'sales amount': 670, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f910'), 'date': '9/12/2023', 'product id': 'P002', 'sales amount': 800, 'store location': 'Houston'}
{'_id': ObjectId('67a05be475ef8b5ae382f911'), 'date': '9/13/2023', 'product id': 'P003', 'sales amount': 301, 'store location': 'Houston'}
{'_id': ObjectId('67a05be475ef8b5ae382f912'), 'date': '9/14/2023', 'product id': 'P004', 'sales amount': 694, 'store location': 'Chicago'}
{'_id': ObjectId('67a05be475ef8b5ae382f913'), 'date': '9/15/2023', 'product id': 'P004', 'sales amount': 301, 'store location': 'Houston'}
{'_id': ObjectId('67a05be475ef8b5ae382f914'), 'date': '9/16/2023', 'product id': 'P002', 'sales amount': 800, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f915'), 'date': '9/17/2023', 'product id': 'P001', 'sales amount': 361, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f916'), 'date': '9/18/2023', 'product id': 'P002', 'sales amount': 800, 'store location': 'Los Angeles'}
{'_id': ObjectId('67a05be475ef8b5ae382f917'), 'date': '9/19/2023', 'product id': 'P005', 'sales amount': 202, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f918'), 'date': '9/20/2023', 'product id': 'P004', 'sales amount': 778, 'store location': 'Chicago'}
{'_id': ObjectId('67a05be475ef8b5ae382f919'), 'date': '9/21/2023', 'product id': 'P003', 'sales amount': 271, 'store location': 'Los Angeles'}
{'_id': ObjectId('67a05be475ef8b5ae382f91a'), 'date': '9/22/2023', 'product id': 'P005', 'sales amount': 707, 'store location': 'Chicago'}
{'_id': ObjectId('67a05be475ef8b5ae382f91b'), 'date': '9/23/2023', 'product id': 'P002', 'sales amount': 800, 'store location': 'Houston'}
{'_id': ObjectId('67a05be475ef8b5ae382f91c'), 'date': '9/24/2023', 'product id': 'P001', 'sales amount': 494, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f91d'), 'date': '9/25/2023', 'product id': 'P005', 'sales amount': 469, 'store location': 'Houston'}
{'_id': ObjectId('67a05be475ef8b5ae382f91e'), 'date': '9/26/2023', 'product id': 'P003', 'sales amount': 152, 'store location': 'Miami'}
{'_id': ObjectId('67a05be475ef8b5ae382f91f'), 'date': '9/27/2023', 'product id': 'P005', 'sales amount': 827, 'store location': 'Houston'}
{'_id': ObjectId('67a05be475ef8b5ae382f920'), 'date': '9/28/2023', 'product id': 'P002', 'sales amount': 800, 'store location': 'Miami'}
{'_id': ObjectId('67a05be475ef8b5ae382f921'), 'date': '9/29/2023', 'product id': 'P002', 'sales amount': 800, 'store location': 'Chicago'}
{'_id': ObjectId('67a05be475ef8b5ae382f922'), 'date': '9/30/2023', 'product id': 'P004', 'sales amount': 612, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f923'), 'date': '9/1/2023', 'product id': 'P001', 'sales amount': 220, 'store location': 'Houston'}
{'_id': ObjectId('67a05be475ef8b5ae382f924'), 'date': '9/2/2023', 'product id': 'P001', 'sales amount': 171, 'store location': 'Miami'}
{'_id': ObjectId('67a05be475ef8b5ae382f925'), 'date': '9/3/2023', 'product id': 'P005', 'sales amount': 543, 'store location': 'Houston'}
{'_id': ObjectId('67a05be475ef8b5ae382f926'), 'date': '9/4/2023', 'product id': 'P001', 'sales amount': 868, 'store location': 'Houston'}
{'_id': ObjectId('67a05be475ef8b5ae382f927'), 'date': '9/5/2023', 'product id': 'P002', 'sales amount': 800, 'store location': 'Chicago'}
{'_id': ObjectId('67a05be475ef8b5ae382f928'), 'date': '9/6/2023', 'product id': 'P003', 'sales amount': 838, 'store location': 'Miami'}
{'_id': ObjectId('67a05be475ef8b5ae382f929'), 'date': '9/7/2023', 'product id': 'P001', 'sales amount': 418, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f92a'), 'date': '9/8/2023', 'product id': 'P002', 'sales amount': 800, 'store location': 'Houston'}
{'_id': ObjectId('67a05be475ef8b5ae382f92b'), 'date': '9/9/2023', 'product id': 'P002', 'sales amount': 800, 'store location': 'Los Angeles'}
{'_id': ObjectId('67a05be475ef8b5ae382f92c'), 'date': '9/10/2023', 'product id': 'P002', 'sales amount': 800, 'store location': 'Los Angeles'}
{'_id': ObjectId('67a05be475ef8b5ae382f92d'), 'date': '9/11/2023', 'product id': 'P005', 'sales amount': 283, 'store location': 'Los Angeles'}
{'_id': ObjectId('67a05be475ef8b5ae382f92e'), 'date': '9/12/2023', 'product id': 'P005', 'sales amount': 952, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f92f'), 'date': '9/13/2023', 'product id': 'P001', 'sales amount': 660, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f930'), 'date': '9/14/2023', 'product id': 'P001', 'sales amount': 159, 'store location': 'Miami'}
{'_id': ObjectId('67a05be475ef8b5ae382f931'), 'date': '9/15/2023', 'product id': 'P003', 'sales amount': 237, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f932'), 'date': '9/16/2023', 'product id': 'P003', 'sales amount': 948, 'store location': 'Houston'}
{'_id': ObjectId('67a05be475ef8b5ae382f933'), 'date': '9/17/2023', 'product id': 'P001', 'sales amount': 344, 'store location': 'Miami'}
{'_id': ObjectId('67a05be475ef8b5ae382f934'), 'date': '9/18/2023', 'product id': 'P005', 'sales amount': 711, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f935'), 'date': '9/19/2023', 'product id': 'P001', 'sales amount': 322, 'store location': 'Miami'}
{'_id': ObjectId('67a05be475ef8b5ae382f936'), 'date': '9/20/2023', 'product id': 'P002', 'sales amount': 800, 'store location': 'Houston'}
{'_id': ObjectId('67a05be475ef8b5ae382f937'), 'date': '9/21/2023', 'product id': 'P001', 'sales amount': 729, 'store location': 'Los Angeles'}
{'_id': ObjectId('67a05be475ef8b5ae382f938'), 'date': '9/22/2023', 'product id': 'P002', 'sales amount': 800, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f939'), 'date': '9/23/2023', 'product id': 'P001', 'sales amount': 697, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f93a'), 'date': '9/24/2023', 'product id': 'P002', 'sales amount': 800, 'store location': 'Houston'}
{'_id': ObjectId('67a05be475ef8b5ae382f93b'), 'date': '9/25/2023', 'product id': 'P001', 'sales amount': 252, 'store location': 'Los Angeles'}
{'_id': ObjectId('67a05be475ef8b5ae382f93c'), 'date': '9/26/2023', 'product id': 'P003', 'sales amount': 714, 'store location': 'Chicago'}
{'_id': ObjectId('67a05be475ef8b5ae382f93d'), 'date': '9/27/2023', 'product id': 'P002', 'sales amount': 800, 'store location': 'Houston'}
{'_id': ObjectId('67a05be475ef8b5ae382f93e'), 'date': '9/28/2023', 'product id': 'P001', 'sales amount': 364, 'store location': 'Miami'}
{'_id': ObjectId('67a05be475ef8b5ae382f93f'), 'date': '9/29/2023', 'product id': 'P002', 'sales amount': 800, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f940'), 'date': '9/30/2023', 'product id': 'P001', 'sales amount': 475, 'store location': 'Chicago'}
{'_id': ObjectId('67a05be475ef8b5ae382f941'), 'date': '9/1/2023', 'product id': 'P003', 'sales amount': 701, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f942'), 'date': '9/2/2023', 'product id': 'P003', 'sales amount': 876, 'store location': 'Houston'}
{'_id': ObjectId('67a05be475ef8b5ae382f943'), 'date': '9/3/2023', 'product id': 'P003', 'sales amount': 517, 'store location': 'Chicago'}
{'_id': ObjectId('67a05be475ef8b5ae382f944'), 'date': '9/4/2023', 'product id': 'P004', 'sales amount': 116, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f945'), 'date': '9/5/2023', 'product id': 'P002', 'sales amount': 800, 'store location': 'Houston'}
{'_id': ObjectId('67a05be475ef8b5ae382f946'), 'date': '9/6/2023', 'product id': 'P004', 'sales amount': 664, 'store location': 'Houston'}
{'_id': ObjectId('67a05be475ef8b5ae382f947'), 'date': '9/7/2023', 'product id': 'P003', 'sales amount': 704, 'store location': 'Los Angeles'}
{'_id': ObjectId('67a05be475ef8b5ae382f948'), 'date': '9/8/2023', 'product id': 'P002', 'sales amount': 800, 'store location': 'Houston'}
{'_id': ObjectId('67a05be475ef8b5ae382f949'), 'date': '9/9/2023', 'product id': 'P005', 'sales amount': 985, 'store location': 'Los Angeles'}
{'_id': ObjectId('67a05be475ef8b5ae382f94a'), 'date': '9/10/2023', 'product id': 'P005', 'sales amount': 969, 'store location': 'Houston'}
{'_id': ObjectId('67a05be475ef8b5ae382f94b'), 'date': '9/11/2023', 'product id': 'P004', 'sales amount': 495, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f94c'), 'date': '9/12/2023', 'product id': 'P004', 'sales amount': 137, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f94d'), 'date': '9/13/2023', 'product id': 'P002', 'sales amount': 800, 'store location': 'Houston'}
{'_id': ObjectId('67a05be475ef8b5ae382f94e'), 'date': '9/14/2023', 'product id': 'P004', 'sales amount': 977, 'store location': 'Miami'}
{'_id': ObjectId('67a05be475ef8b5ae382f94f'), 'date': '9/15/2023', 'product id': 'P005', 'sales amount': 721, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f950'), 'date': '9/16/2023', 'product id': 'P002', 'sales amount': 800, 'store location': 'Los Angeles'}
{'_id': ObjectId('67a05be475ef8b5ae382f951'), 'date': '9/17/2023', 'product id': 'P005', 'sales amount': 521, 'store location': 'Houston'}
{'_id': ObjectId('67a05be475ef8b5ae382f952'), 'date': '9/18/2023', 'product id': 'P005', 'sales amount': 762, 'store location': 'Chicago'}
{'_id': ObjectId('67a05be475ef8b5ae382f953'), 'date': '9/19/2023', 'product id': 'P003', 'sales amount': 559, 'store location': 'Houston'}
{'_id': ObjectId('67a05be475ef8b5ae382f954'), 'date': '9/20/2023', 'product id': 'P001', 'sales amount': 370, 'store location': 'Houston'}
{'_id': ObjectId('67a05be475ef8b5ae382f955'), 'date': '9/21/2023', 'product id': 'P003', 'sales amount': 418, 'store location': 'Los Angeles'}
{'_id': ObjectId('67a05be475ef8b5ae382f956'), 'date': '9/22/2023', 'product id': 'P002', 'sales amount': 800, 'store location': 'Houston'}
{'_id': ObjectId('67a05be475ef8b5ae382f957'), 'date': '9/23/2023', 'product id': 'P003', 'sales amount': 715, 'store location': 'Los Angeles'}
{'_id': ObjectId('67a05be475ef8b5ae382f958'), 'date': '9/24/2023', 'product id': 'P002', 'sales amount': 800, 'store location': 'Chicago'}
{'_id': ObjectId('67a05be475ef8b5ae382f959'), 'date': '9/25/2023', 'product id': 'P001', 'sales amount': 579, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f95a'), 'date': '9/26/2023', 'product id': 'P004', 'sales amount': 522, 'store location': 'Houston'}
{'_id': ObjectId('67a05be475ef8b5ae382f95b'), 'date': '9/27/2023', 'product id': 'P004', 'sales amount': 214, 'store location': 'Miami'}
{'_id': ObjectId('67a05be475ef8b5ae382f95c'), 'date': '9/28/2023', 'product id': 'P002', 'sales amount': 800, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f95d'), 'date': '9/29/2023', 'product id': 'P003', 'sales amount': 292, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f95e'), 'date': '9/30/2023', 'product id': 'P004', 'sales amount': 109, 'store location': 'Houston'}
{'_id': ObjectId('67a05be475ef8b5ae382f95f'), 'date': '9/1/2023', 'product id': 'P001', 'sales amount': 556, 'store location': 'Chicago'}
{'_id': ObjectId('67a05be475ef8b5ae382f960'), 'date': '9/2/2023', 'product id': 'P005', 'sales amount': 105, 'store location': 'Miami'}
{'_id': ObjectId('67a05be475ef8b5ae382f961'), 'date': '9/3/2023', 'product id': 'P004', 'sales amount': 900, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f962'), 'date': '9/4/2023', 'product id': 'P002', 'sales amount': 800, 'store location': 'Los Angeles'}
{'_id': ObjectId('67a05be475ef8b5ae382f963'), 'date': '9/5/2023', 'product id': 'P003', 'sales amount': 329, 'store location': 'Los Angeles'}
{'_id': ObjectId('67a05be475ef8b5ae382f964'), 'date': '9/6/2023', 'product id': 'P003', 'sales amount': 582, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f965'), 'date': '9/7/2023', 'product id': 'P005', 'sales amount': 433, 'store location': 'Miami'}
{'_id': ObjectId('67a05be475ef8b5ae382f966'), 'date': '9/8/2023', 'product id': 'P003', 'sales amount': 990, 'store location': 'Miami'}
{'_id': ObjectId('67a05be475ef8b5ae382f967'), 'date': '9/9/2023', 'product id': 'P003', 'sales amount': 117, 'store location': 'Chicago'}
{'_id': ObjectId('67a05be475ef8b5ae382f968'), 'date': '9/10/2023', 'product id': 'P004', 'sales amount': 738, 'store location': 'Miami'}
{'_id': ObjectId('67a05be475ef8b5ae382f969'), 'date': '9/11/2023', 'product id': 'P005', 'sales amount': 588, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f96a'), 'date': '9/12/2023', 'product id': 'P001', 'sales amount': 205, 'store location': 'Chicago'}
{'_id': ObjectId('67a05be475ef8b5ae382f96b'), 'date': '9/13/2023', 'product id': 'P002', 'sales amount': 800, 'store location': 'Houston'}
{'_id': ObjectId('67a05be475ef8b5ae382f96c'), 'date': '9/14/2023', 'product id': 'P004', 'sales amount': 857, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f96d'), 'date': '9/15/2023', 'product id': 'P003', 'sales amount': 537, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f96e'), 'date': '9/16/2023', 'product id': 'P001', 'sales amount': 232, 'store location': 'Houston'}
{'_id': ObjectId('67a05be475ef8b5ae382f96f'), 'date': '9/17/2023', 'product id': 'P002', 'sales amount': 800, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f970'), 'date': '9/18/2023', 'product id': 'P003', 'sales amount': 801, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f971'), 'date': '9/19/2023', 'product id': 'P002', 'sales amount': 800, 'store location': 'Miami'}
{'_id': ObjectId('67a05be475ef8b5ae382f972'), 'date': '9/20/2023', 'product id': 'P002', 'sales amount': 800, 'store location': 'Chicago'}
{'_id': ObjectId('67a05be475ef8b5ae382f973'), 'date': '9/21/2023', 'product id': 'P004', 'sales amount': 352, 'store location': 'Los Angeles'}
{'_id': ObjectId('67a05be475ef8b5ae382f974'), 'date': '9/22/2023', 'product id': 'P002', 'sales amount': 800, 'store location': 'Los Angeles'}
{'_id': ObjectId('67a05be475ef8b5ae382f975'), 'date': '9/23/2023', 'product id': 'P001', 'sales amount': 948, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f976'), 'date': '9/24/2023', 'product id': 'P002', 'sales amount': 800, 'store location': 'Los Angeles'}
{'_id': ObjectId('67a05be475ef8b5ae382f977'), 'date': '9/25/2023', 'product id': 'P004', 'sales amount': 746, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f978'), 'date': '9/26/2023', 'product id': 'P001', 'sales amount': 986, 'store location': 'Los Angeles'}
{'_id': ObjectId('67a05be475ef8b5ae382f979'), 'date': '9/27/2023', 'product id': 'P002', 'sales amount': 800, 'store location': 'Houston'}
{'_id': ObjectId('67a05be475ef8b5ae382f97a'), 'date': '9/28/2023', 'product id': 'P003', 'sales amount': 220, 'store location': 'Houston'}
{'_id': ObjectId('67a05be475ef8b5ae382f97b'), 'date': '9/29/2023', 'product id': 'P005', 'sales amount': 570, 'store location': 'Miami'}
{'_id': ObjectId('67a05be475ef8b5ae382f97c'), 'date': '9/30/2023', 'product id': 'P005', 'sales amount': 936, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f97d'), 'date': '9/1/2023', 'product id': 'P004', 'sales amount': 408, 'store location': 'Los Angeles'}
{'_id': ObjectId('67a05be475ef8b5ae382f97e'), 'date': '9/2/2023', 'product id': 'P001', 'sales amount': 576, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f97f'), 'date': '9/3/2023', 'product id': 'P005', 'sales amount': 499, 'store location': 'Chicago'}
{'_id': ObjectId('67a05be475ef8b5ae382f980'), 'date': '9/4/2023', 'product id': 'P005', 'sales amount': 371, 'store location': 'Los Angeles'}
{'_id': ObjectId('67a05be475ef8b5ae382f981'), 'date': '9/5/2023', 'product id': 'P003', 'sales amount': 437, 'store location': 'Houston'}
{'_id': ObjectId('67a05be475ef8b5ae382f982'), 'date': '9/6/2023', 'product id': 'P004', 'sales amount': 961, 'store location': 'Houston'}
{'_id': ObjectId('67a05be475ef8b5ae382f983'), 'date': '9/7/2023', 'product id': 'P004', 'sales amount': 751, 'store location': 'Miami'}
{'_id': ObjectId('67a05be475ef8b5ae382f984'), 'date': '9/8/2023', 'product id': 'P003', 'sales amount': 913, 'store location': 'Chicago'}
{'_id': ObjectId('67a05be475ef8b5ae382f985'), 'date': '9/9/2023', 'product id': 'P004', 'sales amount': 493, 'store location': 'Chicago'}
{'_id': ObjectId('67a05be475ef8b5ae382f986'), 'date': '9/10/2023', 'product id': 'P004', 'sales amount': 991, 'store location': 'Chicago'}
{'_id': ObjectId('67a05be475ef8b5ae382f987'), 'date': '9/11/2023', 'product id': 'P005', 'sales amount': 948, 'store location': 'Los Angeles'}
{'_id': ObjectId('67a05be475ef8b5ae382f988'), 'date': '9/12/2023', 'product id': 'P002', 'sales amount': 800, 'store location': 'Los Angeles'}
{'_id': ObjectId('67a05be475ef8b5ae382f989'), 'date': '9/13/2023', 'product id': 'P001', 'sales amount': 134, 'store location': 'Miami'}
{'_id': ObjectId('67a05be475ef8b5ae382f98a'), 'date': '9/14/2023', 'product id': 'P005', 'sales amount': 394, 'store location': 'Houston'}
{'_id': ObjectId('67a05be475ef8b5ae382f98b'), 'date': '9/15/2023', 'product id': 'P002', 'sales amount': 800, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f98c'), 'date': '9/16/2023', 'product id': 'P002', 'sales amount': 800, 'store location': 'Chicago'}
{'_id': ObjectId('67a05be475ef8b5ae382f98d'), 'date': '9/17/2023', 'product id': 'P004', 'sales amount': 846, 'store location': 'Chicago'}
{'_id': ObjectId('67a05be475ef8b5ae382f98e'), 'date': '9/18/2023', 'product id': 'P004', 'sales amount': 703, 'store location': 'Houston'}
{'_id': ObjectId('67a05be475ef8b5ae382f98f'), 'date': '9/19/2023', 'product id': 'P003', 'sales amount': 618, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f990'), 'date': '9/20/2023', 'product id': 'P004', 'sales amount': 949, 'store location': 'Los Angeles'}
{'_id': ObjectId('67a05be475ef8b5ae382f991'), 'date': '9/21/2023', 'product id': 'P001', 'sales amount': 100, 'store location': 'New York'}
{'_id': ObjectId('67a05be475ef8b5ae382f992'), 'date': '9/22/2023', 'product id': 'P005', 'sales amount': 703, 'store location': 'Houston'}
{'_id': ObjectId('67a05be475ef8b5ae382f993'), 'date': '9/23/2023', 'product id': 'P005', 'sales amount': 501, 'store location': 'Chicago'}
{'_id': ObjectId('67a05be475ef8b5ae382f994'), 'date': '9/24/2023', 'product id': 'P002', 'sales amount': 800, 'store location': 'Houston'}
{'_id': ObjectId('67a05be475ef8b5ae382f995'), 'date': '9/25/2023', 'product id': 'P005', 'sales amount': 141, 'store location': 'New York'}

category="store location"
res=sales.aggregate([

        {"$group": {"_id": f"${category}", "total_sales": {"$sum": "$sales amount"}}},
        {"$sort": {"total_sales": -1}}  # Optional: Sort by total sales
])

filtered_sales_data=pd.DataFrame(res)
#filtered_sales_data.reset_index()

In [15]:
# Callback to update the bar chart
@app.callback(
    Output("sales-bar-chart", "figure"),
    Input("category-selector", "value")
)
def update_bar_chart(category):
    # Group data by the selected category
    
    #category="store location"
    res=sales.aggregate([
        {"$group": {"_id": f"${category}", "total_sales": {"$sum": "$sales amount"}}},
        {"$sort": {"total_sales": -1}}  # Optional: Sort by total sales
        ])
    filtered_sales_data = pd.DataFrame(res).reset_index();
    print(filtered_sales_data)
    # Create bar chart
    fig = px.bar(filtered_sales_data, x="_id", y="total_sales", title=f"Sales Amount by {category}", 
             labels={"total_sales": "Sales Amount", "_id": category},
             color_discrete_sequence=["skyblue"])

    # Show the figure
    #fig.show()
    return fig

In [16]:
#update_bar_chart("store location")

In [17]:
# Run the app
if __name__ == "__main__":
    app.run_server(debug=False)

# Download the mongoDB database

In [24]:
#read all the sales records after i added the additional sales
data=list(sales.find())

#convert it to a dataframe
df=pd.DataFrame(data)


df.to_csv("mongodb_data_csv.csv",index=False)