# Course: Data Engineering
# **Practical Exercise: Complex Queries and Aggregations in MongoDB**
# Prepared by: Georges Assaf



<a href="https://colab.research.google.com/github/gassaf2/DataEngineering/blob/main/week2/GASSAF_PracticalExercise_ComplexQueries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Connect to MongoDB Atlas**

Start by importing the required library and connecting to the MongoDB Atlas database.

In [5]:
from pymongo import MongoClient

#defining the connection string
connection_string="mongodb+srv://gassaf2:dbUserPassword@orders.7foqb.mongodb.net/"

# Connect to the MongoDB Atlas cluster
client = MongoClient(connection_string)

# Access a specific database
db = client['e-commerce']

# Access a collection within the database called orders
collection = db['orders']

In [17]:
#Delete all exisint document before loading from scratch
collection.delete_many({})

DeleteResult({'n': 7, 'electionId': ObjectId('7fffffff000000000000002c'), 'opTime': {'ts': Timestamp(1738304595, 6), 't': 44}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1738304595, 6), 'signature': {'hash': b'\xf5\xb4\xc5\xb2\x84\xc8\xb3\xed8\x06\xea\x8d\xcb\x8f\x9c\xe1\xf9O\x97\xd8', 'keyId': 7413807611021099012}}, 'operationTime': Timestamp(1738304595, 6)}, acknowledged=True)

**<br><br>Insert Products Data**

Now, let's insert some sample documents into the users collection using the insert_one() and insert_many() methods.

In [18]:
collection.insert_many([
{"order_id": "001",
"customer": {
"name": "John Doe",
"email": "john.doe@example.com"
},
"items": [
{"product": "Laptop", "quantity": 1, "price": 1000},
{"product": "Mouse", "quantity": 2, "price": 50}
],
"order_date": "2024-01-15",
"status": "shipped",
"total": 1100},

{
    "order_id": "002",
    "customer": {
      "name": "georges assaf",
      "email": "gassaf2@gmail.com"
    },
    "items": [
      {"product": "Tablet", "quantity": 1, "price": 600},
      {"product": "Keyboard", "quantity": 1, "price": 80}
    ],
    "order_date": "2024-01-16",
    "status": "processing",
    "total": 680
  },
  {
    "order_id": "003",
    "customer": {
      "name": "elie matar",
      "email": "elie.matar@gmail.com"
    },
    "items": [
      {"product": "Smartphone", "quantity": 1, "price": 800},
      {"product": "Headphones", "quantity": 1, "price": 150}
    ],
    "order_date": "2024-01-17",
    "status": "shipped",
    "total": 950
  },
  {
    "order_id": "004",
    "customer": {
      "name": "judy matar",
      "email": "judy.matar@gmail.com.com"
    },
    "items": [
      {"product": "Monitor", "quantity": 1, "price": 300},
      {"product": "USB Cable", "quantity": 3, "price": 15}
    ],
    "order_date": "2024-01-18",
    "status": "delivered",
    "total": 345
  },
  {
    "order_id": "005",
    "customer": {
      "name": "joe assaf",
      "email": "joe.assaf@gmail.com"
    },
    "items": [
      {"product": "Gaming Console", "quantity": 1, "price": 500},
      {"product": "Game Controller", "quantity": 2, "price": 60}
    ],
    "order_date": "2024-01-19",
    "status": "processing",
    "total": 620
  },
  {
    "order_id": "006",
    "customer": {
      "name": "joe assaf",
      "email": "joe.assaf@gmail.com"
    },
    "items": [
      {"product": "Gaming Console", "quantity": 1, "price": 500},
      {"product": "Game Controller", "quantity": 2, "price": 70}
    ],
    "order_date": "2024-01-19",
    "status": "processing",
    "total": 640
  },
    {"order_id": "007",
"customer": {
"name": "John Doe",
"email": "john.doe@example.com"
},
"items": [
{"product": "Laptop", "quantity": 1, "price": 1000},
{"product": "Mouse", "quantity": 2, "price": 50}
],
"order_date": "2024-01-15",
"status": "shipped",
"total": 200}
    
])

InsertManyResult([ObjectId('679c6c56efcdeb03702bd7d4'), ObjectId('679c6c56efcdeb03702bd7d5'), ObjectId('679c6c56efcdeb03702bd7d6'), ObjectId('679c6c56efcdeb03702bd7d7'), ObjectId('679c6c56efcdeb03702bd7d8'), ObjectId('679c6c56efcdeb03702bd7d9'), ObjectId('679c6c56efcdeb03702bd7da')], acknowledged=True)

# Task 1: Filtering Data

Write a query to find all orders placed by customers with the name ”John Doe” and with
an order total greater than $500. Display the order ID and total amount in the output.
<br>Expected Output:
<br>*Example output format*
<br>{
"order_id": "001",
"total": 1100
}

#### method 1

In [19]:
#defining the conditions in a query, seeting 2 conditions
query={"customer.name":"John Doe", "total":{"$gt":500}}

#executing the query and defining the projection
res=collection.find(query,{"_id":0,"order_id":1,"total":1})

# Print the results
for doc in res:
    print(doc)

{'order_id': '001', 'total': 1100}

#### method 2

In [20]:
#using the $and to define 2 conditions
res=collection.find({
    "$and":[
        {"customer.name":"John Doe"},
        {"total":{"$gt":500}}
    ]},{"_id":0,"order_id":1,"total":1} # hide the _id and show the order_id and total
)

#printing the results
for doc in res:
    print(doc)

{'order_id': '001', 'total': 1100}

Verification: Order 001 and 007 are for customer John Doe with a total of 1100 and 200 respectively.
Both methods are fetching only the order with a total greater than 500.

# Task 2: Sorting Data

Write a query to retrieve all orders and sort them by order date in descending order and
total amount in ascending order.
<br>Expected Output:
<br>Example output
<br>[{"order_id": "002", "order_date": "2024-01-20", "total": 300},
<br>{"order_id": "001", "order_date": "2024-01-15", "total": 1100}
<br>]

In [21]:
#displa 
res=collection.find({},{"_id": 0, "order_id": 1, "order_date": 1, "total": 1}).sort({ "order_date": -1, "total": 1 })
for doc in res:
    print(doc)

{'order_id': '005', 'order_date': '2024-01-19', 'total': 620}
{'order_id': '006', 'order_date': '2024-01-19', 'total': 640}
{'order_id': '004', 'order_date': '2024-01-18', 'total': 345}
{'order_id': '003', 'order_date': '2024-01-17', 'total': 950}
{'order_id': '002', 'order_date': '2024-01-16', 'total': 680}
{'order_id': '007', 'order_date': '2024-01-15', 'total': 200}
{'order_id': '001', 'order_date': '2024-01-15', 'total': 1100}

Verification: by looking at the order_date for all orders, we can see that they are sorted descending and by looking at the total of the orders 005 and 006 which have same order_date, we can see that the total is sorted ascending

# Task 3: Aggregation - Total Sales per Product

Use the aggregation framework to calculate the total sales for each product. Group by
product name and calculate the total revenue generated by each product.
<br>Expected Output:
<br> Example output format
<br>[
<br>{"_id": "Laptop", "totalSales": 5000},
<br>{"_id": "Mouse", "totalSales": 300}
<br>]

In [22]:
res=collection.aggregate([
    { "$unwind": "$items" },
           {"$group": {"_id": "$items.product","totalSales": {"$sum": {"$multiply":["$items.quantity","$items.price"]}}}
           }])

In [23]:
for doc in res:
    print(doc)

{'_id': 'Keyboard', 'totalSales': 80}
{'_id': 'Tablet', 'totalSales': 600}
{'_id': 'Laptop', 'totalSales': 2000}
{'_id': 'Mouse', 'totalSales': 200}
{'_id': 'Game Controller', 'totalSales': 260}
{'_id': 'Headphones', 'totalSales': 150}
{'_id': 'Monitor', 'totalSales': 300}
{'_id': 'USB Cable', 'totalSales': 45}
{'_id': 'Smartphone', 'totalSales': 800}
{'_id': 'Gaming Console', 'totalSales': 1000}

Verification: by looking at the laptop item which is available under orders 001 and 007, the total revenue from both orders for the laptop items is 2000

# Task 4: Aggregation - Average Order Value per Customer

Use the aggregation framework to calculate the average order value per customer. Group by
customer name and compute the average value of the orders they have placed.
<br>Expected Output:
<br> Example output format
<br>[
<br>{"_id": "John Doe", "averageOrderValue": 750},
<br>{"_id": "Jane Smith", "averageOrderValue": 500}
<br>]

In [24]:
res=collection.aggregate([
  { 
    "$group": { 
      "_id": "$customer.name",  # Group by customer name
      "averageOrderValue": { "$avg": "$total" }  # Calculate average order total per customer
    }
  }
]);
for doc in res:
    print(doc)

{'_id': 'elie matar', 'averageOrderValue': 950.0}
{'_id': 'georges assaf', 'averageOrderValue': 680.0}
{'_id': 'judy matar', 'averageOrderValue': 345.0}
{'_id': 'joe assaf', 'averageOrderValue': 630.0}
{'_id': 'John Doe', 'averageOrderValue': 650.0}

Verification: for the customer John Doe, we have 2 orders with a total of 1100 and 300. calculating the average we get 650 which is similar to results we got in query for the same customer.

# Task 5: Advanced Aggregation - Top 5 Products by Quantity Sold

Write an aggregation query that returns the top 5 products based on the quantity sold. Sort
the results by quantity in descending order.
<br>Expected Output:
<br> Example output format
<br>[
<br>{"_id": "Laptop", "quantitySold": 50},
<br>{"_id": "Mouse", "quantitySold": 30},
<br>{"_id": "Monitor", "quantitySold": 25}
<br>]

In [25]:
res=collection.aggregate([
  { "$unwind": "$items" },  # Unwind the items array to process each item separately
  { 
    "$group": { 
      "_id": "$items.product",  # Group by product name
      "quantitySold": { "$sum": "$items.quantity" }  # Sum the quantities of each product
    }
  },
  { "$sort": { "quantitySold": -1 } },  #Sort by quantitySold in descending order
  { "$limit": 5 }  # Limit the result to the top 5 products
]);
for doc in res:
    print(doc)

{'_id': 'Mouse', 'quantitySold': 4}
{'_id': 'Game Controller', 'quantitySold': 4}
{'_id': 'USB Cable', 'quantitySold': 3}
{'_id': 'Laptop', 'quantitySold': 2}
{'_id': 'Gaming Console', 'quantitySold': 2}