# Course: Data Engineering
# **Practical Exercise: Implementing ETL Using Python for a Healthcare Application**
# Prepared by: Georges Assaf



<a href="https://colab.research.google.com/github/gassaf2/DataEngineering/blob/main/week3/Practical Exercise ImplementingETL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Problem Statement
You are tasked with building an ETL pipeline for a healthcare clinic. The goal is to extract
data from a CSV file containing patient information and a simulated API providing diagnostic
details. You will transform the data by cleaning it and enriching diagnostic information with
patient details, then load the data into MongoDB for further reporting and analysis.

# 1) Extract Data

In [1]:
import pandas as pd

# Extract data from the CSV file
patients_df = pd.read_csv('./sample_data/patients.csv')
print("Extracted Patient Data:")
print(patients_df)

Extracted Patient Data:
    patient_id             name  age  gender
0         P001      James Smith   45    Male
1         P002     Mary Johnson   32  Female
2         P003  Robert Williams   56    Male
3         P004   Patricia Brown   29  Female
4         P005       John Jones   67    Male
..         ...              ...  ...     ...
195       P196     Emily Brooks   41  Female
196       P197      Jack Fisher   29    Male
197       P198       Judith Lee   50  Female
198       P199       Sean Kelly   38    Male
199       P200  Rebecca Sanders   57  Female

[200 rows x 4 columns]

In [2]:
# Simulated API response for diagnostic data
diagnostic_data=[
{"diagnostic_id":"D001","patient_id":"P001","test":"Blood Test","result":"Normal"},

{"diagnostic_id":"D002","patient_id":"P002","test":"X−Ray","result":"Fracture"},
{"diagnostic_id":"D003","patient_id":"P003","test":"MRI","result":"Normal"}
]
print("Extracted Diagnostic Data:")
print(diagnostic_data)

Extracted Diagnostic Data:
[{'diagnostic_id': 'D001', 'patient_id': 'P001', 'test': 'Blood Test', 'result': 'Normal'}, {'diagnostic_id': 'D002', 'patient_id': 'P002', 'test': 'X−Ray', 'result': 'Fracture'}, {'diagnostic_id': 'D003', 'patient_id': 'P003', 'test': 'MRI', 'result': 'Normal'}]

In [3]:
# Convert sales_data to a DataFrame
diagnostic_df = pd.DataFrame(diagnostic_data)
diagnostic_df

  diagnostic_id patient_id        test    result
0          D001       P001  Blood Test    Normal
1          D002       P002       X−Ray  Fracture
2          D003       P003         MRI    Normal

# 2) Transform the data

Clean patient data: Let’s assume you need to filter out patients who are younger than 40
years old for a specific study.

In [4]:
#extracting only the patient with age > 40 years
transformed_patients_df = patients_df[patients_df["age"] >= 40]
transformed_patients_df

    patient_id               name  age  gender
0         P001        James Smith   45    Male
2         P003    Robert Williams   56    Male
4         P005         John Jones   67    Male
5         P006       Linda Garcia   40  Female
7         P008      Barbara Davis   55  Female
..         ...                ...  ...     ...
193       P194  Dorothy Patterson   48  Female
194       P195      Benjamin Ward   55    Male
195       P196       Emily Brooks   41  Female
197       P198         Judith Lee   50  Female
199       P200    Rebecca Sanders   57  Female

[127 rows x 4 columns]

<br>Enrich diagnostic data with patient information: Join the diagnostics data with
patient details (name, age, gender) to provide context for the test results

In [5]:
# Merge dataframes on 'patient_id'
transformed_diagnostic_df= pd.merge(diagnostic_df, patients_df[['patient_id','name','age','gender']], on="patient_id", how="left")
transformed_diagnostic_df

  diagnostic_id patient_id        test    result             name  age  gender
0          D001       P001  Blood Test    Normal      James Smith   45    Male
1          D002       P002       X−Ray  Fracture     Mary Johnson   32  Female
2          D003       P003         MRI    Normal  Robert Williams   56    Male

# 3)Load Data into MongoDB

Creating the connection to MongoDB

In [6]:
from pymongo import MongoClient
from datetime import datetime

#connection_string="mongodb+srv://gassaf2:dbUserPassword@products.g02gx.mongodb.net/?retryWrites=true&w=majority&appName=products"
connection_string="mongodb+srv://gassaf2:dbUserPassword@cluster0.xjx2q.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
# Connect to the MongoDB Atlas cluster
client = MongoClient(connection_string)

# Access a specific database
db = client['health_db']

<br><br>Inserting the patients data into MongoDB

In [7]:
# Access a the collection patients within the database
patients = db['patients']

#Load the data in patients

# Convert DataFrame to dictionary format
patients_dict = patients_df.to_dict(orient="records")

# Insert the patients data into MongoDB
patients.insert_many(patients_dict)

InsertManyResult([ObjectId('67a0abd745b16aa7083d8a68'), ObjectId('67a0abd745b16aa7083d8a69'), ObjectId('67a0abd745b16aa7083d8a6a'), ObjectId('67a0abd745b16aa7083d8a6b'), ObjectId('67a0abd745b16aa7083d8a6c'), ObjectId('67a0abd745b16aa7083d8a6d'), ObjectId('67a0abd745b16aa7083d8a6e'), ObjectId('67a0abd745b16aa7083d8a6f'), ObjectId('67a0abd745b16aa7083d8a70'), ObjectId('67a0abd745b16aa7083d8a71'), ObjectId('67a0abd745b16aa7083d8a72'), ObjectId('67a0abd745b16aa7083d8a73'), ObjectId('67a0abd745b16aa7083d8a74'), ObjectId('67a0abd745b16aa7083d8a75'), ObjectId('67a0abd745b16aa7083d8a76'), ObjectId('67a0abd745b16aa7083d8a77'), ObjectId('67a0abd745b16aa7083d8a78'), ObjectId('67a0abd745b16aa7083d8a79'), ObjectId('67a0abd745b16aa7083d8a7a'), ObjectId('67a0abd745b16aa7083d8a7b'), ObjectId('67a0abd745b16aa7083d8a7c'), ObjectId('67a0abd745b16aa7083d8a7d'), ObjectId('67a0abd745b16aa7083d8a7e'), ObjectId('67a0abd745b16aa7083d8a7f'), ObjectId('67a0abd745b16aa7083d8a80'), ObjectId('67a0abd745b16aa7083d8a81'), ObjectId('67a0abd745b16aa7083d8a82'), ObjectId('67a0abd745b16aa7083d8a83'), ObjectId('67a0abd745b16aa7083d8a84'), ObjectId('67a0abd745b16aa7083d8a85'), ObjectId('67a0abd745b16aa7083d8a86'), ObjectId('67a0abd745b16aa7083d8a87'), ObjectId('67a0abd745b16aa7083d8a88'), ObjectId('67a0abd745b16aa7083d8a89'), ObjectId('67a0abd745b16aa7083d8a8a'), ObjectId('67a0abd745b16aa7083d8a8b'), ObjectId('67a0abd745b16aa7083d8a8c'), ObjectId('67a0abd745b16aa7083d8a8d'), ObjectId('67a0abd745b16aa7083d8a8e'), ObjectId('67a0abd745b16aa7083d8a8f'), ObjectId('67a0abd745b16aa7083d8a90'), ObjectId('67a0abd745b16aa7083d8a91'), ObjectId('67a0abd745b16aa7083d8a92'), ObjectId('67a0abd745b16aa7083d8a93'), ObjectId('67a0abd745b16aa7083d8a94'), ObjectId('67a0abd745b16aa7083d8a95'), ObjectId('67a0abd745b16aa7083d8a96'), ObjectId('67a0abd745b16aa7083d8a97'), ObjectId('67a0abd745b16aa7083d8a98'), ObjectId('67a0abd745b16aa7083d8a99'), ObjectId('67a0abd745b16aa7083d8a9a'), ObjectId('67a0abd745b16aa7083d8a9b'), ObjectId('67a0abd745b16aa7083d8a9c'), ObjectId('67a0abd745b16aa7083d8a9d'), ObjectId('67a0abd745b16aa7083d8a9e'), ObjectId('67a0abd745b16aa7083d8a9f'), ObjectId('67a0abd745b16aa7083d8aa0'), ObjectId('67a0abd745b16aa7083d8aa1'), ObjectId('67a0abd745b16aa7083d8aa2'), ObjectId('67a0abd745b16aa7083d8aa3'), ObjectId('67a0abd745b16aa7083d8aa4'), ObjectId('67a0abd745b16aa7083d8aa5'), ObjectId('67a0abd745b16aa7083d8aa6'), ObjectId('67a0abd745b16aa7083d8aa7'), ObjectId('67a0abd745b16aa7083d8aa8'), ObjectId('67a0abd745b16aa7083d8aa9'), ObjectId('67a0abd745b16aa7083d8aaa'), ObjectId('67a0abd745b16aa7083d8aab'), ObjectId('67a0abd745b16aa7083d8aac'), ObjectId('67a0abd745b16aa7083d8aad'), ObjectId('67a0abd745b16aa7083d8aae'), ObjectId('67a0abd745b16aa7083d8aaf'), ObjectId('67a0abd745b16aa7083d8ab0'), ObjectId('67a0abd745b16aa7083d8ab1'), ObjectId('67a0abd745b16aa7083d8ab2'), ObjectId('67a0abd745b16aa7083d8ab3'), ObjectId('67a0abd745b16aa7083d8ab4'), ObjectId('67a0abd745b16aa7083d8ab5'), ObjectId('67a0abd745b16aa7083d8ab6'), ObjectId('67a0abd745b16aa7083d8ab7'), ObjectId('67a0abd745b16aa7083d8ab8'), ObjectId('67a0abd745b16aa7083d8ab9'), ObjectId('67a0abd745b16aa7083d8aba'), ObjectId('67a0abd745b16aa7083d8abb'), ObjectId('67a0abd745b16aa7083d8abc'), ObjectId('67a0abd745b16aa7083d8abd'), ObjectId('67a0abd745b16aa7083d8abe'), ObjectId('67a0abd745b16aa7083d8abf'), ObjectId('67a0abd745b16aa7083d8ac0'), ObjectId('67a0abd745b16aa7083d8ac1'), ObjectId('67a0abd745b16aa7083d8ac2'), ObjectId('67a0abd745b16aa7083d8ac3'), ObjectId('67a0abd745b16aa7083d8ac4'), ObjectId('67a0abd745b16aa7083d8ac5'), ObjectId('67a0abd745b16aa7083d8ac6'), ObjectId('67a0abd745b16aa7083d8ac7'), ObjectId('67a0abd745b16aa7083d8ac8'), ObjectId('67a0abd745b16aa7083d8ac9'), ObjectId('67a0abd745b16aa7083d8aca'), ObjectId('67a0abd745b16aa7083d8acb'), ObjectId('67a0abd745b16aa7083d8acc'), ObjectId('67a0abd745b16aa7083d8acd'), ObjectId('67a0abd745b16aa7083d8ace'), ObjectId('67a0abd745b16aa7083d8acf'), ObjectId('67a0abd745b16aa7083d8ad0'), ObjectId('67a0abd745b16aa7083d8ad1'), ObjectId('67a0abd745b16aa7083d8ad2'), ObjectId('67a0abd745b16aa7083d8ad3'), ObjectId('67a0abd745b16aa7083d8ad4'), ObjectId('67a0abd745b16aa7083d8ad5'), ObjectId('67a0abd745b16aa7083d8ad6'), ObjectId('67a0abd745b16aa7083d8ad7'), ObjectId('67a0abd745b16aa7083d8ad8'), ObjectId('67a0abd745b16aa7083d8ad9'), ObjectId('67a0abd745b16aa7083d8ada'), ObjectId('67a0abd745b16aa7083d8adb'), ObjectId('67a0abd745b16aa7083d8adc'), ObjectId('67a0abd745b16aa7083d8add'), ObjectId('67a0abd745b16aa7083d8ade'), ObjectId('67a0abd745b16aa7083d8adf'), ObjectId('67a0abd745b16aa7083d8ae0'), ObjectId('67a0abd745b16aa7083d8ae1'), ObjectId('67a0abd745b16aa7083d8ae2'), ObjectId('67a0abd745b16aa7083d8ae3'), ObjectId('67a0abd745b16aa7083d8ae4'), ObjectId('67a0abd745b16aa7083d8ae5'), ObjectId('67a0abd745b16aa7083d8ae6'), ObjectId('67a0abd745b16aa7083d8ae7'), ObjectId('67a0abd745b16aa7083d8ae8'), ObjectId('67a0abd745b16aa7083d8ae9'), ObjectId('67a0abd745b16aa7083d8aea'), ObjectId('67a0abd745b16aa7083d8aeb'), ObjectId('67a0abd745b16aa7083d8aec'), ObjectId('67a0abd745b16aa7083d8aed'), ObjectId('67a0abd745b16aa7083d8aee'), ObjectId('67a0abd745b16aa7083d8aef'), ObjectId('67a0abd745b16aa7083d8af0'), ObjectId('67a0abd745b16aa7083d8af1'), ObjectId('67a0abd745b16aa7083d8af2'), ObjectId('67a0abd745b16aa7083d8af3'), ObjectId('67a0abd745b16aa7083d8af4'), ObjectId('67a0abd745b16aa7083d8af5'), ObjectId('67a0abd745b16aa7083d8af6'), ObjectId('67a0abd745b16aa7083d8af7'), ObjectId('67a0abd745b16aa7083d8af8'), ObjectId('67a0abd745b16aa7083d8af9'), ObjectId('67a0abd745b16aa7083d8afa'), ObjectId('67a0abd745b16aa7083d8afb'), ObjectId('67a0abd745b16aa7083d8afc'), ObjectId('67a0abd745b16aa7083d8afd'), ObjectId('67a0abd745b16aa7083d8afe'), ObjectId('67a0abd745b16aa7083d8aff'), ObjectId('67a0abd745b16aa7083d8b00'), ObjectId('67a0abd745b16aa7083d8b01'), ObjectId('67a0abd745b16aa7083d8b02'), ObjectId('67a0abd745b16aa7083d8b03'), ObjectId('67a0abd745b16aa7083d8b04'), ObjectId('67a0abd745b16aa7083d8b05'), ObjectId('67a0abd745b16aa7083d8b06'), ObjectId('67a0abd745b16aa7083d8b07'), ObjectId('67a0abd745b16aa7083d8b08'), ObjectId('67a0abd745b16aa7083d8b09'), ObjectId('67a0abd745b16aa7083d8b0a'), ObjectId('67a0abd745b16aa7083d8b0b'), ObjectId('67a0abd745b16aa7083d8b0c'), ObjectId('67a0abd745b16aa7083d8b0d'), ObjectId('67a0abd745b16aa7083d8b0e'), ObjectId('67a0abd745b16aa7083d8b0f'), ObjectId('67a0abd745b16aa7083d8b10'), ObjectId('67a0abd745b16aa7083d8b11'), ObjectId('67a0abd745b16aa7083d8b12'), ObjectId('67a0abd745b16aa7083d8b13'), ObjectId('67a0abd745b16aa7083d8b14'), ObjectId('67a0abd745b16aa7083d8b15'), ObjectId('67a0abd745b16aa7083d8b16'), ObjectId('67a0abd745b16aa7083d8b17'), ObjectId('67a0abd745b16aa7083d8b18'), ObjectId('67a0abd745b16aa7083d8b19'), ObjectId('67a0abd745b16aa7083d8b1a'), ObjectId('67a0abd745b16aa7083d8b1b'), ObjectId('67a0abd745b16aa7083d8b1c'), ObjectId('67a0abd745b16aa7083d8b1d'), ObjectId('67a0abd745b16aa7083d8b1e'), ObjectId('67a0abd745b16aa7083d8b1f'), ObjectId('67a0abd745b16aa7083d8b20'), ObjectId('67a0abd745b16aa7083d8b21'), ObjectId('67a0abd745b16aa7083d8b22'), ObjectId('67a0abd745b16aa7083d8b23'), ObjectId('67a0abd745b16aa7083d8b24'), ObjectId('67a0abd745b16aa7083d8b25'), ObjectId('67a0abd745b16aa7083d8b26'), ObjectId('67a0abd745b16aa7083d8b27'), ObjectId('67a0abd745b16aa7083d8b28'), ObjectId('67a0abd745b16aa7083d8b29'), ObjectId('67a0abd745b16aa7083d8b2a'), ObjectId('67a0abd745b16aa7083d8b2b'), ObjectId('67a0abd745b16aa7083d8b2c'), ObjectId('67a0abd745b16aa7083d8b2d'), ObjectId('67a0abd745b16aa7083d8b2e'), ObjectId('67a0abd745b16aa7083d8b2f')], acknowledged=True)

<br><br>Inserting the diagnostic data into MongoDB

In [8]:
# Access a the collection patients within the database
diagnostic = db['diagnostic']

#Load the data in patients

# Convert DataFrame to dictionary format
diagnostic_dict = diagnostic_df.to_dict(orient="records")

# Insert the patients data into MongoDB
diagnostic.insert_many(diagnostic_dict)

InsertManyResult([ObjectId('67a0abdd45b16aa7083d8b30'), ObjectId('67a0abdd45b16aa7083d8b31'), ObjectId('67a0abdd45b16aa7083d8b32')], acknowledged=True)

# 4) Automating the ETL Process

In [9]:
def extract_patients():
    return pd.read_csv('./sample_data/patients.csv')

In [10]:
def extract_diagnostic():
    return pd.DataFrame(diagnostic_data)

In [11]:
def transform_patients(patients_df):
    patients_df = patients_df[patients_df["age"] >= 40]
    return patients_df

In [12]:
def transform_diagnostic(transformed_patients_df,diagnotic_df):
    return pd.merge(diagnostic_df, patients_df[['patient_id','name','age','gender']], on="patient_id", how="left")

In [13]:
def load_data(patients_df,diagnostic_df):
    db.patients.insert_many(patients_df.to_dict(orient='records'))
    db.diagnostic.insert_many(diagnostic_df.to_dict(orient='records'))

In [14]:
#Run the ETL process
patients_df=extract_patients()
diagnostic_df=extract_diagnostic()
transformed_patients_df=transform_patients(patients_df)
transformed_diagnostic_df=transform_diagnostic(patients_df,diagnostic_df)
load_data(transformed_patients_df,transformed_diagnostic_df)
print("ETL Process Completed")

ETL Process Completed